#librosa==0.7.0
#numpy==1.17.1
#opencv-contrib-python>=4.2.0.34
#opencv-python==4.1.0.25
python==3.9.1
numpy==1.22.4
librosa==0.8.1
opencv-python
opencv-contrib-python
torch
torchvision
tqdm
numba
setuptools>=65.5.0
